@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {

    /* Background properties */

    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    /* Font properties */

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

a, a:hover, a:focus {
    text-decoration: none;
}

/* Header section */

header {
    padding: 25px;
    background: rgba(0, 0, 0, 0.25);
}

header p, header a {
    margin-bottom: 0;
}

header .logo {
    font-size: 1em;
    letter-spacing: 1.2px;
}

header a, header a:focus, header a:hover {
    vertical-align: -webkit-baseline-middle;
    padding: 20px;
    color: #ffffff;
}

section {
    padding: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 15px;
}